<%= render "users/admin_tools" if current_user.admin? %>

<div class="new_task_form" id="group_task">
	<h1>New Group Task</h1>
	<div id="group_task_form">
		<%= form_for(@task, url: admin_task_path(current_user)) do |f| %>
		  <%= render "form", f: f %>
		<% end %>
	</div>
</div>