<h1 id="username" data-id="<%= @user.id %>"> Welcome, <%= @user.email %> ! </h1>

<div class="current_tasks">
	<h3>Current Tasks</h3>
	<ol></ol>
</div>

<div class="completed_tasks">
	<h3>Completed Tasks</h3>
	<ol></ol>
</div>