<h1><%= @user.email %></h1>
<p>Current Status: <%= @user.role %> </p>

<%= form_for @user do |f| %>
  <%= render 'admin_status', f: f %>
<% end %>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<p>Column 1</p>
		</div>
		<div class="col-md-4">
			<p>Column 2</p>
		</div>
		<div class="col-md-4">
			<p>Column 3<p>
		</div>
	</div>
</div>