<h1>In The Loop Welcomes You!</h1>
<h3>What Is In The Loop</h3>
<p> In the Loop is your go to source to help keep you and your team organized! In the Loop is no ordinary task manager. Unlke other task mangers, In the Loop will help you stay organized and "in the loop" with all things going on within your organization. </p>

<h3>How Does It Work</h3>
<p>A user can create a task just like any other task manager application. They can add categories and due dates to each task they create. However, there's more! In the Loop allows administrators to automatically add new tasks to others within their organization</p>

<h3>In the Loop Testimonials</h3>
<ul>
  <li>"As a teacher it is very frustrating not knowing important dates. Unil our school started using 'In the Loop' I never knew what was going on. Now I know exactly what my principal expects from me and when."</li><br>
  <li>"My employees never seemed to know what expected of them and when. Sending email communications only went so far. I still had to rely on the employees to remember the information being communicated to them. Now, In the Loop organizes it all for them. In the Loop has allowed us to take our buisiness to the next level! Thank You In the Loop!!!"
</ul>