#overdue_alert {
	color: red;
}

#task_search {
	font-size: 18px;
}

#new_task {
	font-size: 18px;
	margin-left: 140px;
	margin-top: -110px;
}

.render_more_tasks {
	margin-top: 33px;
}

.btn-sm {
	margin: 3px 2px 0px 2px;
}