#welcome {
	text-align: center;
	border-style: solid;
	border-color: black;
	border-width: thick;
	background-color: #114a77;
	color: #FFFFFF;
	padding: 10px 0px;
}

#navigation {
	margin: -50px 0px 0px 20px;
}

#admin_tools {
	float: right;
	margin: -18px 25px 0px 0px;
}
#overdue_alert {
	color: red;
}

#task_search {
	font-size: 18px;
}

#new_task_btn {
	font-size: 18px;
	margin-left: 250px;
}

.render_more_tasks {
	float: left;
	background-color: orange;
}

.btn-sm {
	margin: 3px 2px 0px 2px;
}

.new_task select {
	color: black;
}

.new_task input {
	color: black;
}

.new_task_form {
	background-color: #114a77;
	padding-left: 15px;
	color: #FFFFFF;
	text-shadow: 1px 1px black;
	border-style: solid;
	border-width: 5px;
	border-color: black;
}

.new_task_form h1 {
	margin-left: 12px;
	margin-bottom: 30px;
}

.new_task_form textarea {
	color: black;
}



#new_task label {
	margin-right: 5px;
}

#task_submission_alert {
	color: green;
	font-size: 16px;
}


